/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
// colors
:root {
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
}
.darkmode {
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: black;
  --text-color: #777;
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: white;
  --container-color: white;
  .box {
    box-shadow: 0px 0px 11px -4px #c1c1c1;
  }
}
//=============== some mixins ===============
@mixin grid($val, $gab) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($val, 1fr));
  gap: $gab;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin makedistance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*=============== global styles ===============*/
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}
section {
  padding: 80px 0;
}
.container {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    width: 991px;
  }
}
.btnn {
  background-color: var(--first-color);
  color: var(--body-color);
  border-radius: 5px;
  padding: 10px 20px;
}
// start menu
.menu {
  position: fixed;
  bottom: 20px;
  background-color: var(--container-color);
  @include makedistance;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  width: 300px;
  max-width: 100%;
  border-radius: 100px;
  z-index: 900;
  li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @include center;
    padding: 15px;
    a {
      color: var(--text-color);
    }
    &:hover,
    &.active {
      background-color: var(--first-color-alt);
      & svg {
        color: var(--title-color);
      }
    }
  }
}
// end menu
// start header
.header {
  background-color: var(--body-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    @include makedistance;
    .logo {
      a {
        color: var(--first-color);
      }
    }
    .moon,
    .sun {
      cursor: pointer;
    }
    .moon {
      display: none;
    }
  }
}
// end header

//start info
.info {
  .container {
    .text {
      width: 100%;
      @include center;
      flex-direction: column;
      p,
      h2 {
        color: var(--title-color);
      }
      .btn {
        margin-bottom: 50px;
        button,
        a {
          background-color: transparent;
          color: var(--first-color);
          border: 1px solid var(--first-color);
          padding: 10px;
          border-radius: 5px;
        }
        button {
          color: var(--body-color);
          background-color: var(--first-color);
        }
        a:hover {
          background-color: var(--first-color);
          color: var(--body-color);
        }
      }
    }
    .me {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      .social {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        li {
          a {
            color: var(--text-color);
          }
          background-color: var(--container-color);
          width: 10px;
          height: 10px;
          @include center;
          padding: 15px;
          border-radius: 5px;
          &:hover {
            background-color: var(--first-color-alt);
            svg {
              color: var(--title-color);
            }
          }
        }
      }
      .image {
        text-align: center;
        padding: 20px 25px;
        background-color: var(--first-color);
        border-radius: 150px 150px 0 0;
        @include center;
        img {
          margin: auto;
          width: 250px;
        }
      }
      .mousescroll {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          writing-mode: vertical-rl;
        }
      }
    }
  }
}
//end info

// start about
.about {
  .intro {
    h2 {
      color: var(--first-color);
    }
  }
  .container {
    .row {
      align-items: center;
    }
    .image {
      overflow: hidden;
      @media (min-width: 991px) {
        margin-right: 50px;
      }
      @include center;
      img {
        border-radius: 20px;
        width: 380px;
      }
    }
    .info {
      p {
        font-size: 20px;
        line-height: 1.8;
      }
    }
  }
}
// end about
// start experiance
.experiance {
  padding: 50px 0;
  h2 {
    color: var(--first-color);
  }
  .container {
    .box {
      background-color: var(--container-color);
      border-radius: 20px;
      width: 500px;
      margin: auto;
      .boxitem {
        h5 {
          font-size: 15px;
          color: var(--title-color);
        }
        span {
          font-size: 8px;
        }
        .icon {
          background-color: var(--first-color);
          width: 15px;
          height: 15px;
          border-radius: 50%;
          @include center;
          margin-top: 4px;
          svg {
            color: var(--body-color);
            font-size: 10px;
          }
        }
        span {
          font-size: 10px;
        }
      }
    }
  }
}

// end experiance
// start service
.service {
  h2 {
    color: var(--first-color);
  }
  .container {
    @include grid(220px, 80px);
    justify-content: center;
    .box {
      @include center;
      background-color: var(--container-color);
      padding: 50px 40px;
      border-radius: 20px;
      h4 {
        text-align: center;
        color: var(--title-color);
      }
      span {
        color: var(--first-color);
        cursor: pointer;
        &:hover {
          svg {
            position: relative;
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
// end service
// start work
.work {
  .intro {
    h2 {
      color: var(--first-color);
    }
  }
  .tabs {
    margin-bottom: 20px;
    @include center;
    gap: 5px;
    padding: 0;
    flex-wrap: wrap;
    li {
      font-size: 16px;
      @media (max-width: 767px) {
        & {
          font-size: 12px;
        }
      }
      cursor: pointer;
      padding: 5px 7px;
      border-radius: 5px;
      &:hover,
      &.active {
        background-color: var(--first-color);
        color: var(--body-color);
      }
    }
  }
  .box-container {
    @include grid(300px, 20px);
    .box {
      background-color: var(--container-color);
      padding: 15px 10px;
      border-radius: 10px;
      .image {
        overflow: hidden;
        border-radius: 10px;
        img {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      h5 {
        color: var(--title-color);
        margin-top: 15px;
        font-size: 18px;
      }
      a {
        color: var(--first-color);
        &:hover svg {
          transform: translateX(10px);
        }
      }
    }
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
// end work
// start testimonial
.testimonial {
  .container {
    .intro {
      h2 {
        color: var(--first-color);
      }
    }
    .test-container {
      .test-box {
        background-color: var(--container-color);
        padding: 10px 15px;
        border-radius: 15px;
        .image {
          margin-bottom: 10px;
          img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
          }
        }
        h5 {
          color: var(--title-color);
        }
      }
      .swiper-pagination-bullet-active,
      .swiper-pagination-bullet:hover {
        background-color: var(--first-color);
      }
    }
  }
}
// end testimonial
// start contact
.contact {
  .container {
    // padding: 0 50px;
    .intro {
      h2 {
        color: var(--first-color);
      }
    }
    .contact-container {
      justify-content: center;
      gap: 50px;
      h4 {
        color: var(--title-color);
        text-align: center;
        margin-bottom: 20px;
      }
      .info {
        .boxes {
          .box {
            border-radius: 10px;
            padding: 10px 0;
            text-align: center;
            background-color: var(--container-color);
            margin-bottom: 10px;
            span {
              margin-bottom: 10px;
              display: block;
            }
            svg {
              color: var(--title-color);
              font-size: 20px;
            }
            h6 {
              color: var(--title-color);
              margin: 0;
            }
            a {
              display: block;
              color: var(--first-color);
              svg {
                font-size: 15px;
                color: var(--first-color);
              }
              margin-bottom: 10px;
              &:hover svg {
                transform: translateX(10px);
              }
            }
          }
        }
      }
      .form {
        form {
          input,
          textarea {
            background-color: transparent;
            outline: none;
            border: 1px solid var(--text-color-light);
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            color: var(--title-color);
          }
          .mail,
          .name,
          .textarea {
            position: relative;
            margin-bottom: 15px;
            label {
              position: absolute;
              top: -10px;
              left: 10px;
              padding: 0 10px;
              background-color: var(--body-color);
              color: var(--first-color);
            }
          }
        }
      }
    }
  }
}
// end contact
// start footer
.footer {
  padding: 50px 0 100px;
  @include center;
  flex-direction: column;
  align-items: center;
  background-color: var(--first-color-alt);
  h4 {
    color: var(--body-color);
  }
  a {
    color: var(--first-color);
  }
  .links,
  .icons {
    padding: 0;
    @include center;
    li:not(:first-of-type) {
      margin-left: 10px;
    }
    li {
      color: var(--first-color-alt);
    }
  }
  .links {
    li {
      a {
        color: var(--body-color);
      }
    }
  }
  .icons {
    li {
      &:hover {
        transform: scale(1.1);
      }
      background-color: var(--body-color);
      padding: 3px 6px;
      border-radius: 6px;
    }
  }
  p {
    color: var(--body-color);
  }
}
// end footer
