/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
}

.darkmode {
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
  --title-color: black;
  --text-color: #777;
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: white;
  --container-color: white;
}
.darkmode .box {
  -webkit-box-shadow: 0px 0px 11px -4px #c1c1c1;
          box-shadow: 0px 0px 11px -4px #c1c1c1;
}

/*=============== global styles ===============*/
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}
* button {
  cursor: pointer;
  border: none;
  outline: none;
}
* img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

section {
  padding: 80px 0;
}

.container {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 991px;
  }
}
.btnn {
  background-color: var(--first-color);
  color: var(--body-color);
  border-radius: 5px;
  padding: 10px 20px;
}

.menu {
  position: fixed;
  bottom: 20px;
  background-color: var(--container-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px 30px;
  width: 300px;
  max-width: 100%;
  border-radius: 100px;
  z-index: 900;
}
.menu li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}
.menu li a {
  color: var(--text-color);
}
.menu li:hover, .menu li.active {
  background-color: var(--first-color-alt);
}
.menu li:hover svg, .menu li.active svg {
  color: var(--title-color);
}

.header {
  background-color: var(--body-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .logo a {
  color: var(--first-color);
}
.header .container .moon,
.header .container .sun {
  cursor: pointer;
}
.header .container .moon {
  display: none;
}

.info .container .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info .container .text p,
.info .container .text h2 {
  color: var(--title-color);
}
.info .container .text .btn {
  margin-bottom: 50px;
}
.info .container .text .btn button,
.info .container .text .btn a {
  background-color: transparent;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  padding: 10px;
  border-radius: 5px;
}
.info .container .text .btn button {
  color: var(--body-color);
  background-color: var(--first-color);
}
.info .container .text .btn a:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
.info .container .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .container .me .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0;
}
.info .container .me .social li {
  background-color: var(--container-color);
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.info .container .me .social li a {
  color: var(--text-color);
}
.info .container .me .social li:hover {
  background-color: var(--first-color-alt);
}
.info .container .me .social li:hover svg {
  color: var(--title-color);
}
.info .container .me .image {
  text-align: center;
  padding: 20px 25px;
  background-color: var(--first-color);
  border-radius: 150px 150px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .container .me .image img {
  margin: auto;
  width: 250px;
}
.info .container .me .mousescroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.info .container .me .mousescroll span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.about .intro h2 {
  color: var(--first-color);
}
.about .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .container .image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 991px) {
  .about .container .image {
    margin-right: 50px;
  }
}
.about .container .image img {
  border-radius: 20px;
  width: 380px;
}
.about .container .info .boxes {
  gap: 5px;
}
.about .container .info .boxes .box {
  background-color: var(--container-color);
  padding: 20px 15px;
  border-radius: 5px;
}
.about .container .info .boxes .box svg {
  color: var(--first-color);
}
.about .container .info .boxes .box h5 {
  color: var(--title-color);
  margin-bottom: 0;
}
.about .container .info .boxes .box span {
  font-size: 10px;
}
.about .container .info p {
  font-size: 20px;
  line-height: 1.8;
}

.experiance h2 {
  color: var(--first-color);
}
.experiance .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.experiance .container .row .box {
  background-color: var(--container-color);
  border-radius: 20px;
}
.experiance .container .row .box .boxitem h5 {
  font-size: 15px;
  color: var(--title-color);
}
.experiance .container .row .box .boxitem span {
  font-size: 8px;
}
.experiance .container .row .box .boxitem .icon {
  background-color: var(--first-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
}
.experiance .container .row .box .boxitem .icon svg {
  color: var(--body-color);
  font-size: 10px;
}
.experiance .container .row .box .boxitem span {
  font-size: 10px;
}

.service h2 {
  color: var(--first-color);
}
.service .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--container-color);
  padding: 50px 40px;
  border-radius: 20px;
}
.service .container .box h4 {
  text-align: center;
  color: var(--title-color);
}
.service .container .box span {
  color: var(--first-color);
  cursor: pointer;
}
.service .container .box span:hover svg {
  position: relative;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.work .intro h2 {
  color: var(--first-color);
}
.work .tabs {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work .tabs li {
  font-size: 16px;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .work .tabs li {
    font-size: 12px;
  }
}
.work .tabs li:hover, .work .tabs li.active {
  background-color: var(--first-color);
  color: var(--body-color);
}
.work .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.work .box-container .box {
  background-color: var(--container-color);
  padding: 15px 10px;
  border-radius: 10px;
}
.work .box-container .box .image {
  overflow: hidden;
  border-radius: 10px;
}
.work .box-container .box .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.work .box-container .box h5 {
  color: var(--title-color);
  margin-top: 15px;
  font-size: 18px;
}
.work .box-container .box a {
  color: var(--first-color);
}
.work .box-container .box a:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.testimonial .container .intro h2 {
  color: var(--first-color);
}
.testimonial .container .test-container .test-box {
  background-color: var(--container-color);
  padding: 10px 15px;
  border-radius: 15px;
}
.testimonial .container .test-container .test-box .image {
  margin-bottom: 10px;
}
.testimonial .container .test-container .test-box .image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.testimonial .container .test-container .test-box h5 {
  color: var(--title-color);
}
.testimonial .container .test-container .swiper-pagination-bullet-active,
.testimonial .container .test-container .swiper-pagination-bullet:hover {
  background-color: var(--first-color);
}

.contact .container .intro h2 {
  color: var(--first-color);
}
.contact .container .contact-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.contact .container .contact-container h4 {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 20px;
}
.contact .container .contact-container .info .boxes .box {
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--container-color);
  margin-bottom: 10px;
}
.contact .container .contact-container .info .boxes .box span {
  margin-bottom: 10px;
  display: block;
}
.contact .container .contact-container .info .boxes .box svg {
  color: var(--title-color);
  font-size: 20px;
}
.contact .container .contact-container .info .boxes .box h6 {
  color: var(--title-color);
  margin: 0;
}
.contact .container .contact-container .info .boxes .box a {
  display: block;
  color: var(--first-color);
  margin-bottom: 10px;
}
.contact .container .contact-container .info .boxes .box a svg {
  font-size: 15px;
  color: var(--first-color);
}
.contact .container .contact-container .info .boxes .box a:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.contact .container .contact-container .form form input,
.contact .container .contact-container .form form textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--text-color-light);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  color: var(--title-color);
}
.contact .container .contact-container .form form .mail,
.contact .container .contact-container .form form .name,
.contact .container .contact-container .form form .textarea {
  position: relative;
  margin-bottom: 15px;
}
.contact .container .contact-container .form form .mail label,
.contact .container .contact-container .form form .name label,
.contact .container .contact-container .form form .textarea label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 10px;
  background-color: var(--body-color);
  color: var(--first-color);
}

.footer {
  padding: 50px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  background-color: var(--first-color-alt);
}
.footer h4 {
  color: var(--body-color);
}
.footer a {
  color: var(--first-color);
}
.footer .links,
.footer .icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .links li:not(:first-of-type),
.footer .icons li:not(:first-of-type) {
  margin-left: 10px;
}
.footer .links li,
.footer .icons li {
  color: var(--first-color-alt);
}
.footer .links li a {
  color: var(--body-color);
}
.footer .icons li {
  background-color: var(--body-color);
  padding: 3px 6px;
  border-radius: 6px;
}
.footer .icons li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer p {
  color: var(--body-color);
}